body {
  font-family: "EB Garamond", serif;
}
#menu-table {
  text-align: left;
  background-color: gainsboro;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header {
  font-style: italic;
}
tr {
  background-color: #f2f2f2;
  padding-top: 5px;
  padding-bottom: 5px;
}

tr:nth-child(even) {
  background-color: gainsboro;
}
