body {
  font-family: "EB Garamond", serif;
}
#menu-table {
  text-align: left;
  background-color: gainsboro;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header {
  font-style: italic;
}
tr {
  background-color: #dcdcdc;
}

tr:nth-child(odd) {
  background-color: yellow;
}
