body {
  font-family: "EB Garamond", serif;
}
.menu-layout {
  text-align: center;
  max-width: 740px;
  margin: auto;
}
#menu-table {
  text-align: left;
  background-color: gainsboro;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
}
.header {
  font-style: italic;
}
tr {
  background-color: rgba(0, 0, 0, 0);
  padding-top: 5px;
  padding-bottom: 5px;
}

tr:nth-child(1) {
  background-color: yellowgreen;
}
